<div ng-include="'components/navbar/navbar.html'"></div>
<md-content class="md-padding">
  <div layout="row">
    <h3>Upload statistics file:</h3>
  </div>
  <div layout="row" layout-align="start center">
    <md-button class="md-raised" ngf-select ng-model="ctrl.file" name="file" ngf-max-size="20MB"
               ngf-min-height="100">Browse
    </md-button>
    <span ng-if="ctrl.file">{{ctrl.file.name}}</span>
  </div>
  <div layout="row">
    <md-button class="md-primary md-raised" type="submit" ng-click="ctrl.upload(ctrl.file)">Upload</md-button>
    <md-progress-circular md-mode="determinate" value="{{ctrl.determinateValue}}"></md-progress-circular>
  </div>
</md-content>
